[Desktop Entry]
Version=1.0
NoDisplay=false
Type=Application
Exec=xeditor %F
Name=xeditor
Icon=xeditor
Terminal=false
Comment=Custom definition for xeditor
MimeType=text/plain;
